Repository LP-CIASIE/Atelier-2, pull requests merged in 2023-03, with the labels that each got.

#4 API Tedyspo | Création de la route /users et d'un formater de Pagination
  apies/api_tedyspo-service/containers/service.php
  apies/api_tedyspo-service/public/index.php
  apies/api_tedyspo-service/src/actions/users/GetUserAction.php
  apies/api_tedyspo-service/src/actions/users/GetUsersAction.php
  apies/api_tedyspo-service/src/actions/users/UpdateUserAction.php
  apies/api_tedyspo-service/src/models/.placeholder
  apies/api_tedyspo-service/src/models/User.php
  apies/api_tedyspo-service/src/services/JWTService.php
  apies/api_tedyspo-service/src/services/UserService.php
  apies/api_tedyspo-service/src/services/utils/FormatterAPI.php
Labels: API

#8 ajout de events
  apies/api_auth-service/public/index.php
  apies/api_tedyspo-service/public/index.php
  apies/api_tedyspo-service/src/actions/events/CreateEventAction.php
  apies/api_tedyspo-service/src/actions/events/DeleteEventAction.php
  apies/api_tedyspo-service/src/actions/events/GetEventAction.php
  apies/api_tedyspo-service/src/actions/events/GetEventsAction.php
  apies/api_tedyspo-service/src/actions/events/UpdateEventAction.php
  apies/api_tedyspo-service/src/services/EventService.php
Labels: API

#10 API Tedispo | Création des routes/actions User
  apies/api_tedyspo-service/conf/tedyspo.db.ini.dist
  apies/api_tedyspo-service/public/index.php
  apies/api_tedyspo-service/src/actions/AbstractAction.php
  apies/api_tedyspo-service/src/actions/users/CreateUserAction.php
  apies/api_tedyspo-service/src/actions/users/DeleteUserAction.php
  apies/api_tedyspo-service/src/actions/users/GetUserAction.php
  apies/api_tedyspo-service/src/actions/users/GetUsersAction.php
  apies/api_tedyspo-service/src/actions/users/UpdateUserAction.php
  apies/api_tedyspo-service/src/models/User.php
  apies/api_tedyspo-service/src/services/JWTService.php
  apies/api_tedyspo-service/src/services/UserService.php
  apies/api_tedyspo-service/src/services/utils/FormatterAPI.php
  apies/api_tedyspo-service/src/services/utils/FormatterObject.php
Labels: API

#12 Gestion de la connexion & de l'inscription dans Vue.js
  apies/api_gateway-service/public/index.php
  apies/api_gateway-service/src/actions/AbstractAction.php
  apies/api_tedyspo-service/src/services/UserService.php
  front/src/App.vue
  front/src/assets/scss/_basic.scss
  front/src/assets/scss/_reset.scss
  front/src/assets/scss/_variables.scss
  front/src/router/index.js
  front/src/stores/session.js
  front/src/views/SignInView.vue
  front/src/views/SignUpView.vue
Labels: Front

#15 API Tedyspo | Créations des Routes/Actions pour les Commentaires
  apies/api_gateway-service/public/index.php
  apies/api_gateway-service/src/actions/AbstractAction.php
  apies/api_gateway-service/src/actions/users/UpdateUserAction.php
  apies/api_tedyspo-service/public/index.php
  apies/api_tedyspo-service/src/actions/comments/CreateCommentAction.php
  apies/api_tedyspo-service/src/actions/comments/DeleteCommentAction.php
  apies/api_tedyspo-service/src/actions/comments/GetCommentAction.php
  apies/api_tedyspo-service/src/actions/comments/GetCommentsAction.php
  apies/api_tedyspo-service/src/actions/comments/UpdateCommentAction.php
  apies/api_tedyspo-service/src/actions/events/GetEventAction.php
  apies/api_tedyspo-service/src/actions/events/GetEventsAction.php
  apies/api_tedyspo-service/src/actions/users/UpdateUserAction.php
  apies/api_tedyspo-service/src/middlewares/.placeholder
  apies/api_tedyspo-service/src/middlewares/AbstractMiddleware.php
  apies/api_tedyspo-service/src/middlewares/AccessEventMiddleware.php
  apies/api_tedyspo-service/src/middlewares/OwnerEventMiddleware.php
  apies/api_tedyspo-service/src/models/Comment.php
  apies/api_tedyspo-service/src/models/Event.php
  apies/api_tedyspo-service/src/models/Media.php
  apies/api_tedyspo-service/src/models/User.php
  apies/api_tedyspo-service/src/routes/comments.php
  apies/api_tedyspo-service/src/routes/divers.php
  apies/api_tedyspo-service/src/routes/events.php
  apies/api_tedyspo-service/src/routes/links.php
  apies/api_tedyspo-service/src/routes/locations.php
  apies/api_tedyspo-service/src/routes/medias.php
  apies/api_tedyspo-service/src/routes/routes.php
  apies/api_tedyspo-service/src/routes/share_events.php
  apies/api_tedyspo-service/src/routes/users.php
  apies/api_tedyspo-service/src/services/CommentService.php
  apies/api_tedyspo-service/src/services/EventService.php
  apies/api_tedyspo-service/src/services/MediaService.php
  apies/api_tedyspo-service/src/services/utils/FormatterAPI.php
  apies/api_tedyspo-service/src/services/utils/FormatterObject.php
  front/src/App.vue
Labels: API

#16 Flutter connexion/inscription
  flutter/lib/class/user.dart
  flutter/lib/main.dart
  flutter/lib/provider/session_provider.dart
  flutter/lib/provider/user_provider.dart
  flutter/lib/screen/home_screen.dart
  flutter/lib/screen/sign_in_screen.dart
  flutter/lib/screen/sign_up_screen.dart
Labels: Flutter

#20 API Tedyspo | Créations des Routes/Actions lié au Événements
  apies/api_auth-service/public/index.php
  apies/api_auth-service/sql/Nouveau document texte.txt
  apies/api_auth-service/sql/auth_fake.sql
  apies/api_auth-service/src/services/TokenService.php
  apies/api_gateway-service/src/actions/AbstractAction.php
  apies/api_tedyspo-service/src/actions/AbstractAction.php
  apies/api_tedyspo-service/src/actions/comments/GetCommentsAction.php
  apies/api_tedyspo-service/src/actions/events/CreateEventAction.php
  apies/api_tedyspo-service/src/actions/events/DeleteEventAction.php
  apies/api_tedyspo-service/src/actions/events/GetEventAction.php
  apies/api_tedyspo-service/src/actions/events/GetEventsAction.php
  apies/api_tedyspo-service/src/actions/events/UpdateEventAction.php
  apies/api_tedyspo-service/src/middlewares/AccessEventMiddleware.php
  apies/api_tedyspo-service/src/middlewares/OwnerEventMiddleware.php
  apies/api_tedyspo-service/src/models/User.php
  apies/api_tedyspo-service/src/services/EventService.php
  apies/api_tedyspo-service/src/services/utils/FormatterObject.php
Labels: API
