Repository LP-CIASIE/Atelier-2, pull requests merged in 2023-04, with the labels that each got.

#22 Front | Création de la page Profil et du composant Navbar
  apies/api_auth-service/public/index.php
  apies/api_auth-service/src/actions/DeleteUserAction.php
  apies/api_auth-service/src/services/UserService.php
  apies/api_gateway-service/public/index.php
  apies/api_gateway-service/src/actions/AbstractAction.php
  apies/api_gateway-service/src/actions/auth/DeleteUserAction.php
  apies/api_gateway-service/src/actions/events/CreateUserEventAction.php
  apies/api_tedyspo-service/containers/service.php
  apies/api_tedyspo-service/src/actions/events/CreateUserEventAction.php
  apies/api_tedyspo-service/src/actions/events/DeleteUserEventAction.php
  apies/api_tedyspo-service/src/actions/events/GetEventUserAction.php
  apies/api_tedyspo-service/src/actions/events/GetEventUsersAction.php
  apies/api_tedyspo-service/src/actions/events/UpdateUserEventAction.php
  apies/api_tedyspo-service/src/routes/users.php
  apies/api_tedyspo-service/src/services/EventService.php
  apies/api_tedyspo-service/src/services/InvitationService.php
  front/index.html
  front/package-lock.json
  front/package.json
  front/src/App.vue
  front/src/assets/scss/_basic.scss
  front/src/assets/scss/_variables.scss
  front/src/components/.placeholder
  front/src/components/Navbar.vue
  front/src/main.js
  front/src/router/index.js
  front/src/stores/session.js
  front/src/views/ProfileView.vue
  front/src/views/SignInView.vue
  front/src/views/SignUpView.vue
Labels: API, Front

#23 Api events locations
  apies/api_gateway-service/src/actions/AbstractAction.php
  apies/api_tedyspo-service/src/actions/events/CreateEventAction.php
  apies/api_tedyspo-service/src/actions/locations/CreateLocationAction.php
  apies/api_tedyspo-service/src/actions/locations/DeleteLocationAction.php
  apies/api_tedyspo-service/src/actions/locations/GetLocationAction.php
  apies/api_tedyspo-service/src/actions/locations/GetLocationsAction.php
  apies/api_tedyspo-service/src/actions/locations/UpdateLocationAction.php
  apies/api_tedyspo-service/src/models/Location.php
  apies/api_tedyspo-service/src/services/EventService.php
  apies/api_tedyspo-service/src/services/LocationService.php
  apies/api_tedyspo-service/src/services/utils/FormatterObject.php
Labels: API

#24 Flutter profil pages (édition, suppression & déconnexion)
  apies/api_gateway-service/src/actions/auth/DeleteUserAction.php
  apies/api_gateway-service/src/actions/users/DeleteUserAction.php
  flutter/lib/class/custom_exception.dart
  flutter/lib/class/user.dart
  flutter/lib/provider/session_provider.dart
  flutter/lib/screen/auth/sign_in_screen.dart
  flutter/lib/screen/auth/sign_up_screen.dart
  flutter/lib/screen/error_screen.dart
  flutter/lib/screen/home_screen.dart
  flutter/lib/screen/loading_screen.dart
  flutter/lib/screen/profil/profil_builder_screen.dart
  flutter/lib/screen/profil/profil_screen.dart
  flutter/lib/widget/.placeholder
Labels: Flutter

#27 Links routes
  apies/api_gateway-service/public/index.php
  apies/api_gateway-service/src/actions/HomeAction.php
  apies/api_tedyspo-service/src/actions/links/CreateLinkAction.php
  apies/api_tedyspo-service/src/actions/links/DeleteLinkAction.php
  apies/api_tedyspo-service/src/actions/links/GetLinkAction.php
  apies/api_tedyspo-service/src/actions/links/GetLinksAction.php
  apies/api_tedyspo-service/src/actions/links/UpdateLinkAction.php
  apies/api_tedyspo-service/src/models/Event.php
  apies/api_tedyspo-service/src/models/Link.php
  apies/api_tedyspo-service/src/services/LinkService.php
  apies/api_tedyspo-service/src/services/utils/FormatterObject.php
Labels: API

#28 Flutter : HomeView & affiche, création, modification d'un évènement
  apies/api_gateway-service/src/actions/events/GetEventAction.php
  flutter/lib/class/event.dart
  flutter/lib/my_app.dart
  flutter/lib/screen/Event/event_builder_screen.dart
  flutter/lib/screen/Event/event_screen.dart
  flutter/lib/screen/auth/sign_in_screen.dart
  flutter/lib/screen/auth/sign_up_screen.dart
  flutter/lib/screen/error_screen.dart
  flutter/lib/screen/event/event_add_screen.dart
  flutter/lib/screen/event/event_edit_builder_screen.dart
  flutter/lib/screen/event/event_edit_screen.dart
  flutter/lib/screen/home_screen.dart
  flutter/lib/screen/loading_screen.dart
  flutter/pubspec.yaml
Labels: Flutter

#29 FRONT | create view accepted / refused
  apies/api_gateway-service/src/actions/events/GetEventAction.php
  apies/api_gateway-service/src/actions/locations/GetLocationAction.php
  apies/api_gateway-service/src/actions/locations/GetLocationsAction.php
  apies/api_tedyspo-service/src/actions/events/GetEventsAction.php
  apies/api_tedyspo-service/src/actions/locations/GetLocationsAction.php
  apies/api_tedyspo-service/src/middlewares/AbstractMiddleware.php
  apies/api_tedyspo-service/src/middlewares/OwnerEventMiddleware.php
  apies/api_tedyspo-service/src/services/EventService.php
  apies/api_tedyspo-service/src/services/InvitationService.php
  apies/api_tedyspo-service/src/services/LocationService.php
  front/netlify.toml
  front/package-lock.json
  front/package.json
  front/src/App.vue
  front/src/components/EventsList.vue
  front/src/components/WaitingEventsList.vue
  front/src/components/assets/EventsListElement.vue
  front/src/components/assets/WaitingEventsListElement.vue
  front/src/router/index.js
  front/src/views/HomeView.vue
  front/src/views/event/CreateEventView.vue
  front/src/views/event/EditEventView.vue
  front/src/views/event/EventView.vue
  front/src/views/event/WaitingListView.vue
Labels: Front

#33 FRONT | Add load progressSpinner and update response event
  front/src/components/assets/EventsListElement.vue
  front/src/components/assets/WaitingEventsListElement.vue
  front/src/views/HomeView.vue
  front/src/views/SignInView.vue
  front/src/views/event/EventView.vue
  front/src/views/event/WaitingListView.vue
Labels: Front

#35 Front | Add skeleton when loading, and improve performance with request api
  apies/api_tedyspo-service/src/actions/events/GetEventsAction.php
  apies/api_tedyspo-service/src/actions/events/GetUsersEventAction.php
  apies/api_tedyspo-service/src/models/Event.php
  apies/api_tedyspo-service/src/services/EventService.php
  apies/api_tedyspo-service/src/services/InvitationService.php
  apies/api_tedyspo-service/src/services/utils/FormatterObject.php
  front/src/App.vue
  front/src/components/EventsList.vue
  front/src/components/assets/EventsListElement.vue
  front/src/components/assets/ParticipantsListElement.vue
  front/src/views/HomeView.vue
  front/src/views/event/CreateEventView.vue
  front/src/views/event/EventView.vue
Labels: bug

#37 Flutter partage d'évènement
  flutter/assets/.env
  flutter/lib/class/session.dart
  flutter/lib/class/user.dart
  flutter/lib/main.dart
  flutter/lib/provider/session_provider.dart
  flutter/lib/screen/auth/sign_up_screen.dart
  flutter/lib/screen/event/event_add_screen.dart
  flutter/lib/screen/event/event_builder_screen.dart
  flutter/lib/screen/event/event_edit_builder_screen.dart
  flutter/lib/screen/event/event_edit_screen.dart
  flutter/lib/screen/event/event_screen.dart
  flutter/lib/screen/home_screen.dart
  flutter/lib/screen/profil/profil_screen.dart
  flutter/lib/widget/event_share_widget.dart
  flutter/pubspec.yaml
  front/src/App.vue
Labels: Flutter

#39 Front | Création de la partie commentaire
  apies/api_tedyspo-service/src/actions/comments/GetCommentsAction.php
  apies/api_tedyspo-service/src/models/Comment.php
  apies/api_tedyspo-service/src/services/CommentService.php
  apies/api_tedyspo-service/src/services/utils/FormatterObject.php
  apies/fake_data/index.php
  front/src/components/assets/ConversationListElement.vue
  front/src/views/event/EventView.vue
Labels: API, Front

#40 add code share in eventView
  apies/api_auth-service/src/services/TokenService.php
  apies/api_gateway-service/public/index.php
  apies/api_tedyspo-service/src/middlewares/AccessEventMiddleware.php
  apies/api_tedyspo-service/src/routes/events.php
  front/src/App.vue
  front/src/components/Navbar.vue
  front/src/components/assets/ParticipantsListElement.vue
  front/src/router/index.js
  front/src/stores/session.js
  front/src/views/ProfileView.vue
  front/src/views/SignInView.vue
  front/src/views/event/CreateEventView.vue
  front/src/views/event/EditEventView.vue
  front/src/views/event/EventView.vue
Labels: API, Front

#41 Flutter location
  flutter/lib/class/location.dart
  flutter/lib/class/session.dart
  flutter/lib/screen/event/event_screen.dart
  flutter/lib/screen/home_screen.dart
  flutter/pubspec.yaml
Labels: Flutter

#42 Flutter | Liste des événements en attente
  flutter/lib/screen/event/event_pending_screen.dart
  flutter/lib/screen/event/event_screen.dart
  flutter/lib/screen/event/events_screen.dart
  flutter/lib/widget/invitation_card_widget.dart
  front/src/App.vue
Labels: Flutter
